In [1]:
from pandasql import sqldf
pysqldf = lambda q: sqldf(q, globals())
import pandas as pd
import numpy as np

In [20]:
sub = pd.read_csv("E:/HackerRank/Contest/Recommendation/submissions.csv")

In [21]:
sub.head()

,hacker_id,contest_id,challenge_id,language,solved,created_at
0,56d47667c6a9242e,c8ff662c97d345d2,6d95afeb4d968b91,java,0,2011-08-07 00:36:53 UTC
1,56d47667c6a9242e,c8ff662c97d345d2,6d95afeb4d968b91,java,0,2011-08-07 00:38:45 UTC
2,56d47667c6a9242e,c8ff662c97d345d2,6d95afeb4d968b91,java,0,2011-08-07 00:43:49 UTC
3,56d47667c6a9242e,c8ff662c97d345d2,6d95afeb4d968b91,java,0,2011-08-07 00:52:34 UTC
4,56d47667c6a9242e,c8ff662c97d345d2,6d95afeb4d968b91,java,0,2011-08-07 00:56:52 UTC

In [8]:
t = pysqldf("SELECT hacker_id,challenge_id,max(solved) as Solved,min(created_at) as 'latest_unsolved' from sub where contest_id = 'c8ff662c97d345d2' group by hacker_id,challenge_id")

In [11]:
t.head()

          hacker_id      challenge_id  Solved          latest_unsolved
0  00004cf8b853ad0d  08a5f5f58fe5f586       0  2014-08-23 06:47:41 UTC
1  00004cf8b853ad0d  3411e4e6add2b8e4       0  2014-08-23 06:46:52 UTC
2  00004cf8b853ad0d  366684b779574e86       0  2014-08-23 06:43:28 UTC
3  00004cf8b853ad0d  ab1bdad8537b85cd       0  2014-08-23 06:33:39 UTC
4  00004cf8b853ad0d  c3647a9292e553b9       0  2014-08-23 06:36:15 UTC

In [14]:
u = pysqldf("select hacker_id,challenge_id,Solved,min(latest_unsolved) from t where Solved =0 group by hacker_id,challenge_id")

In [55]:
u = u[['hacker_id','challenge_id']]
u['score'] = 0

In [56]:
u.head()

          hacker_id      challenge_id  score
0  00004cf8b853ad0d  08a5f5f58fe5f586      0
1  00004cf8b853ad0d  3411e4e6add2b8e4      0
2  00004cf8b853ad0d  366684b779574e86      0
3  00004cf8b853ad0d  ab1bdad8537b85cd      0
4  00004cf8b853ad0d  c3647a9292e553b9      0

In [ ]:
sub.shape

In [22]:
sub1 = pysqldf("SELECT hacker_id,challenge_id,max(solved) as Solved from sub group by hacker_id,challenge_id")

In [23]:
sub1

               hacker_id      challenge_id  Solved
0       00004cf8b853ad0d  08a5f5f58fe5f586       0
1       00004cf8b853ad0d  3411e4e6add2b8e4       0
2       00004cf8b853ad0d  366684b779574e86       0
3       00004cf8b853ad0d  ab1bdad8537b85cd       0
4       00004cf8b853ad0d  c3647a9292e553b9       0
5       00010020d9cd62a0  14494ad91c883fa1       1
6       00010020d9cd62a0  1d27531abae531c3       1
7       00010020d9cd62a0  41612cd86f55af69       1
8       00010020d9cd62a0  4b89a103552ec726       1
9       00010020d9cd62a0  4f3620cea7a50eec       1
10      00010020d9cd62a0  5078a455b31e63dd       1
11      00010020d9cd62a0  59e33283b96c6407       1
12      00010020d9cd62a0  61b61212e9855b05       1
13      00010020d9cd62a0  6289494731c566da       1
14      00010020d9cd62a0  67a1b1d6367e38ea       1
15      00010020d9cd62a0  6ed2a6b18d1ac4e4       1
16      00010020d9cd62a0  72ccb69fd2fd9480       1
17      00010020d9cd62a0  7e92328b80237fd3       1
18      00010020d9cd62a0  8b770b5ac05dd2fc       1
19      00010020d9cd62a0  8d1046770261e25f       1
20      00010020d9cd62a0  92cce56cc5c0089a       1
21      00010020d9cd62a0  a1b75be71ebab2e8       1
22      00010020d9cd62a0  a86b5239a69fab6b       1
23      00010020d9cd62a0  c0ee18ecc06ca4d7       1
24      00010020d9cd62a0  c3647a9292e553b9       1
25      00010020d9cd62a0  c58817eb0d6b5919       1
26      00010020d9cd62a0  c5ec62a6613e386c       1
27      00010020d9cd62a0  e05e63bcccbafedb       1
28      00010020d9cd62a0  e6f5e45bb2f4f804       1
29      00010020d9cd62a0  feaaa68f9218a16a       1
...                  ...               ...     ...
157604  ffe0dff4db6deb6e  4fe2da53074027da       1
157605  ffe0dff4db6deb6e  7de92abeb686999e       0
157606  ffe0dff4db6deb6e  7e860acda8697471       1
157607  ffe0dff4db6deb6e  8aadf4d7f7355fb6       1
157608  ffe0dff4db6deb6e  9aba48565107d1ce       0
157609  ffe0dff4db6deb6e  9f07737834523db7       1
157610  ffe0dff4db6deb6e  baae1c5a760d191f       1
157611  ffe0dff4db6deb6e  dcb76def3ced9d7b       1
157612  ffe0dff4db6deb6e  f62ad414720a6b8a       1
157613  ffe0dff4db6deb6e  fa6ea81f8219bbf0       1
157614  ffe0dff4db6deb6e  fd32207d8c5795ab       1
157615  ffe228e656e5cbbd  10fbfe48f770e0e9       0
157616  ffe228e656e5cbbd  659f2ceb67eca1ef       0
157617  ffe228e656e5cbbd  e05e63bcccbafedb       1
157618  fffcfd13f3e0969d  0ea21bb9feaf46c8       1
157619  fffcfd13f3e0969d  26c95b75d8237f39       1
157620  fffcfd13f3e0969d  34386eca594b7bc2       1
157621  fffcfd13f3e0969d  4e07173c3bba48d2       1
157622  fffcfd13f3e0969d  55f8a66f057a7e76       1
157623  fffcfd13f3e0969d  5e85f62bcbb42ea2       1
157624  fffcfd13f3e0969d  6048ad1714cad1be       1
157625  fffcfd13f3e0969d  659f2ceb67eca1ef       0
157626  fffcfd13f3e0969d  6ed2a6b18d1ac4e4       1
157627  fffcfd13f3e0969d  76fba8ff25f765b6       1
157628  fffcfd13f3e0969d  7b6a8414a1e8273c       0
157629  fffcfd13f3e0969d  7e860acda8697471       1
157630  fffcfd13f3e0969d  9580a525da7618e9       1
157631  fffcfd13f3e0969d  b49bb8ec9c2b8481       1
157632  fffcfd13f3e0969d  c9713aed1d68c5b5       1
157633  fffcfd13f3e0969d  feb666a0b4f1d685       1

[157634 rows x 3 columns]

In [ ]:
import graphlab as gl

In [ ]:
sub = sub1

In [ ]:
df = sub[['hacker_id','challenge_id']]

In [ ]:
df.columns = ['user_id','item_id']
df.head()

In [ ]:
sf = gl.SFrame(data=df)

In [ ]:
m = gl.item_similarity_recommender.create(sf,similarity_type='jaccard')

In [ ]:
nn = pd.DataFrame()
nn = m.get_similar_items(k=25)

In [ ]:
ss = nn.to_dataframe()

In [ ]:
ss=ss.rename(columns={"item_id":"challenge_id"})

In [ ]:
sub1 = pd.merge(sub,ss,on='challenge_id',how='left')

In [ ]:
sub2 = sub[sub['Solved']==1]

In [ ]:
sub3 = pd.merge(sub1,sub2,left_on = ['hacker_id','similar'],right_on = ['hacker_id','challenge_id'],how='left')

In [ ]:
sub4 = sub3[sub3['Solved_y']!=1]

In [ ]:
sub5 = sub4[sub4['Solved_x']==1]

In [ ]:
sub6 = sub4[sub4['Solved_x']==0]
sub6 = sub6[sub6['score']>=0.4]

In [ ]:
sub5 = pd.concat((sub5,sub6), ignore_index=True)

In [ ]:
sub_final = sub5[['hacker_id','similar','score']]

In [794]:
sub_final.head()

          hacker_id    challenge_id_x           similar     score
0  00010020d9cd62a0  14494ad91c883fa1  32863af4fa5c200b  0.463733
1  00010020d9cd62a0  14494ad91c883fa1  cf7aec14125de538  0.366173
2  00010020d9cd62a0  14494ad91c883fa1  76fba8ff25f765b6  0.322014
3  00010020d9cd62a0  14494ad91c883fa1  a8fa4ef7a8bc43dc  0.308759
4  00010020d9cd62a0  14494ad91c883fa1  425f241df843cd89  0.307129

In [795]:
sub_final.shape

(2029824, 4)

In [120]:
sub_final1 = pysqldf('select * from sub_final order by hacker_id desc,score desc')

In [121]:
sub_final1.head()

          hacker_id    challenge_id_x           similar     score
0  fffcfd13f3e0969d  4e07173c3bba48d2  659f2ceb67eca1ef  0.486719
1  fffcfd13f3e0969d  76fba8ff25f765b6  659f2ceb67eca1ef  0.469697
2  fffcfd13f3e0969d  26c95b75d8237f39  659f2ceb67eca1ef  0.448805
3  fffcfd13f3e0969d  5e85f62bcbb42ea2  ad1cc7894c991bbd  0.410038
4  fffcfd13f3e0969d  5e85f62bcbb42ea2  c0af13494532539f  0.402750

In [122]:
sub_final1.shape

(2364807, 4)

In [123]:
chal = pd.read_csv("E:/HackerRank/Contest/Recommendation/challenges.csv")

In [124]:
#chal = pysqldf("select * from chal where contest_id = 'c8ff662c97d345d2'")

In [125]:
chal.head()

,challenge_id,contest_id,domain,subdomain,difficulty,solved_submission_count,total_submissions_count
0,18e0a2dad5e127d6,c8ff662c97d345d2,Artificial Intelligence,Bot Building,0.978261,319,655
1,0251520ace81bc57,c8ff662c97d345d2,Algorithms,Strings,0.894473,765,1267
2,425f241df843cd89,c8ff662c97d345d2,Algorithms,Strings,0.908853,1247,1864
3,970eca328814a522,c8ff662c97d345d2,Algorithms,Strings,0.902722,453,835
4,46592c29655cfc5e,c8ff662c97d345d2,Algorithms,Strings,0.900000,312,1363

In [126]:
chal_diff = pysqldf("Select challenge_id,difficulty from chal where contest_id = 'c8ff662c97d345d2' group by challenge_id")

In [127]:
sub_final1 = pysqldf('select sub_final1.*, difficulty from sub_final1 inner join chal_diff on challenge_id_x=challenge_id')

In [128]:
sub_final1.head()

          hacker_id    challenge_id_x           similar     score  difficulty
0  fffcfd13f3e0969d  4e07173c3bba48d2  659f2ceb67eca1ef  0.486719    0.831781
1  fffcfd13f3e0969d  76fba8ff25f765b6  659f2ceb67eca1ef  0.469697    0.858948
2  fffcfd13f3e0969d  26c95b75d8237f39  659f2ceb67eca1ef  0.448805    0.900000
3  fffcfd13f3e0969d  5e85f62bcbb42ea2  ad1cc7894c991bbd  0.410038    0.859466
4  fffcfd13f3e0969d  5e85f62bcbb42ea2  c0af13494532539f  0.402750    0.859466

In [129]:
sub_final1 = pysqldf('select sub_final1.*, chal_diff.difficulty as similar_diff from sub_final1 inner join chal_diff on similar=challenge_id')

In [130]:
sub_final1.head()

,hacker_id,challenge_id_x,similar,score,difficulty,similar_diff
0,fffcfd13f3e0969d,4e07173c3bba48d2,659f2ceb67eca1ef,0.486719,0.831781,0.817351
1,fffcfd13f3e0969d,76fba8ff25f765b6,659f2ceb67eca1ef,0.469697,0.858948,0.817351
2,fffcfd13f3e0969d,26c95b75d8237f39,659f2ceb67eca1ef,0.448805,0.900000,0.817351
3,fffcfd13f3e0969d,5e85f62bcbb42ea2,ad1cc7894c991bbd,0.410038,0.859466,0.869835
4,fffcfd13f3e0969d,5e85f62bcbb42ea2,c0af13494532539f,0.402750,0.859466,0.850127

In [131]:
sub_final1['difficulty_diff'] = abs(sub_final1['difficulty'] - sub_final1['similar_diff'])

In [132]:
sub_final1.head()

,hacker_id,challenge_id_x,similar,score,difficulty,similar_diff,difficulty_diff
0,fffcfd13f3e0969d,4e07173c3bba48d2,659f2ceb67eca1ef,0.486719,0.831781,0.817351,0.014430
1,fffcfd13f3e0969d,76fba8ff25f765b6,659f2ceb67eca1ef,0.469697,0.858948,0.817351,0.041597
2,fffcfd13f3e0969d,26c95b75d8237f39,659f2ceb67eca1ef,0.448805,0.900000,0.817351,0.082649
3,fffcfd13f3e0969d,5e85f62bcbb42ea2,ad1cc7894c991bbd,0.410038,0.859466,0.869835,0.010369
4,fffcfd13f3e0969d,5e85f62bcbb42ea2,c0af13494532539f,0.402750,0.859466,0.850127,0.009339

In [133]:
sub_final1['score'] = sub_final1['score'] - sub_final1['difficulty_diff']

In [134]:
sub_final1.head()

,hacker_id,challenge_id_x,similar,score,difficulty,similar_diff,difficulty_diff
0,fffcfd13f3e0969d,4e07173c3bba48d2,659f2ceb67eca1ef,0.472289,0.831781,0.817351,0.014430
1,fffcfd13f3e0969d,76fba8ff25f765b6,659f2ceb67eca1ef,0.428100,0.858948,0.817351,0.041597
2,fffcfd13f3e0969d,26c95b75d8237f39,659f2ceb67eca1ef,0.366156,0.900000,0.817351,0.082649
3,fffcfd13f3e0969d,5e85f62bcbb42ea2,ad1cc7894c991bbd,0.399669,0.859466,0.869835,0.010369
4,fffcfd13f3e0969d,5e85f62bcbb42ea2,c0af13494532539f,0.393411,0.859466,0.850127,0.009339

In [135]:
sub_final1=sub_final1.rename(columns={"challenge_id_x":"challenge_id"})
sub_final1 = sub_final1[['hacker_id','similar','score']]

In [136]:
sub_final1.shape

(2158778, 3)

In [137]:
chal_id =(chal[['challenge_id','contest_id']])

In [138]:
chal_id_un = pysqldf("select challenge_id from chal_id where contest_id = 'c8ff662c97d345d2' group by challenge_id")

In [139]:
final = pd.merge(sub_final1,chal_id_un,left_on = 'similar', right_on = 'challenge_id',how = 'inner')

In [140]:
final.shape

(2158778, 4)

In [141]:
final.head()

          hacker_id           similar     score      challenge_id
0  fffcfd13f3e0969d  659f2ceb67eca1ef  0.472289  659f2ceb67eca1ef
1  fffcfd13f3e0969d  659f2ceb67eca1ef  0.428100  659f2ceb67eca1ef
2  fffcfd13f3e0969d  659f2ceb67eca1ef  0.366156  659f2ceb67eca1ef
3  fffcfd13f3e0969d  659f2ceb67eca1ef  0.225327  659f2ceb67eca1ef
4  fffcfd13f3e0969d  659f2ceb67eca1ef  0.191445  659f2ceb67eca1ef

In [142]:
final = pysqldf("select hacker_id,similar,max(score) as score from  final group by hacker_id,similar order by hacker_id desc, score desc")

In [143]:
final.head()

          hacker_id           similar     score
0  fffcfd13f3e0969d  659f2ceb67eca1ef  0.472289
1  fffcfd13f3e0969d  ad1cc7894c991bbd  0.399669
2  fffcfd13f3e0969d  c0af13494532539f  0.393411
3  fffcfd13f3e0969d  5e7c4c10a3ceab24  0.328000
4  fffcfd13f3e0969d  08245c18359694b1  0.292229

In [144]:
final =final.sort(['hacker_id','score'], ascending=[False,False])

C:\Users\Prashanth.S\AppData\Local\Continuum\Anaconda2\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

In [145]:
final.head()

          hacker_id           similar     score
0  fffcfd13f3e0969d  659f2ceb67eca1ef  0.472289
1  fffcfd13f3e0969d  ad1cc7894c991bbd  0.399669
2  fffcfd13f3e0969d  c0af13494532539f  0.393411
3  fffcfd13f3e0969d  5e7c4c10a3ceab24  0.328000
4  fffcfd13f3e0969d  08245c18359694b1  0.292229

In [146]:
final1 = final.groupby('hacker_id').head(10).reset_index(drop=True)

In [147]:
final.head()

          hacker_id           similar     score
0  fffcfd13f3e0969d  659f2ceb67eca1ef  0.472289
1  fffcfd13f3e0969d  ad1cc7894c991bbd  0.399669
2  fffcfd13f3e0969d  c0af13494532539f  0.393411
3  fffcfd13f3e0969d  5e7c4c10a3ceab24  0.328000
4  fffcfd13f3e0969d  08245c18359694b1  0.292229

In [148]:
u = u.rename(columns={"challenge_id":"similar"})
u.head()

          hacker_id           similar  score
0  00004cf8b853ad0d  08a5f5f58fe5f586      0
1  00004cf8b853ad0d  3411e4e6add2b8e4      0
2  00004cf8b853ad0d  366684b779574e86      0
3  00004cf8b853ad0d  ab1bdad8537b85cd      0
4  00004cf8b853ad0d  c3647a9292e553b9      0

In [149]:
final = pd.concat((final,u),ignore_index=True)

In [150]:
final =final.sort(['hacker_id','score'], ascending=[False,False]) 
final1 = final.groupby('hacker_id').head(10).reset_index(drop=True)

C:\Users\Prashanth.S\AppData\Local\Continuum\Anaconda2\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

In [151]:
pysqldf("select count(distinct hacker_id) from final1")

   count(distinct hacker_id)
0                       9679

In [152]:
final1.shape

(96761, 3)

## Recommendation

In [153]:
sub1.head()

          hacker_id      challenge_id  Solved
0  00004cf8b853ad0d  08a5f5f58fe5f586       0
1  00004cf8b853ad0d  3411e4e6add2b8e4       0
2  00004cf8b853ad0d  366684b779574e86       0
3  00004cf8b853ad0d  ab1bdad8537b85cd       0
4  00004cf8b853ad0d  c3647a9292e553b9       0

In [154]:
chal.head()

,challenge_id,contest_id,domain,subdomain,difficulty,solved_submission_count,total_submissions_count
0,18e0a2dad5e127d6,c8ff662c97d345d2,Artificial Intelligence,Bot Building,0.978261,319,655
1,0251520ace81bc57,c8ff662c97d345d2,Algorithms,Strings,0.894473,765,1267
2,425f241df843cd89,c8ff662c97d345d2,Algorithms,Strings,0.908853,1247,1864
3,970eca328814a522,c8ff662c97d345d2,Algorithms,Strings,0.902722,453,835
4,46592c29655cfc5e,c8ff662c97d345d2,Algorithms,Strings,0.900000,312,1363

In [155]:
chal1 = chal[['challenge_id','domain']]

In [156]:
s1 = pd.merge(sub1,chal1,on='challenge_id',how='inner')

In [157]:
s1.head()

          hacker_id      challenge_id  Solved      domain
0  00004cf8b853ad0d  08a5f5f58fe5f586       0  Algorithms
1  00004cf8b853ad0d  08a5f5f58fe5f586       0         NaN
2  00004cf8b853ad0d  08a5f5f58fe5f586       0         NaN
3  00fa5c4f8a24fc37  08a5f5f58fe5f586       1  Algorithms
4  00fa5c4f8a24fc37  08a5f5f58fe5f586       1         NaN

In [158]:
s2 = s1[['hacker_id','domain']]

In [159]:
s2.head()

          hacker_id      domain
0  00004cf8b853ad0d  Algorithms
1  00004cf8b853ad0d         NaN
2  00004cf8b853ad0d         NaN
3  00fa5c4f8a24fc37  Algorithms
4  00fa5c4f8a24fc37         NaN

In [160]:
s2 = s2.fillna('No')

In [161]:
s2['count'] = 1

In [162]:
s2.head()

          hacker_id      domain  count
0  00004cf8b853ad0d  Algorithms      1
1  00004cf8b853ad0d          No      1
2  00004cf8b853ad0d          No      1
3  00fa5c4f8a24fc37  Algorithms      1
4  00fa5c4f8a24fc37          No      1

In [163]:
s3 = pysqldf("select hacker_id,domain,sum(count) as count from s2 group by hacker_id,domain")

In [164]:
s3.head()

          hacker_id      domain  count
0  00004cf8b853ad0d  Algorithms      5
1  00004cf8b853ad0d          No      3
2  00010020d9cd62a0  Algorithms      5
3  00010020d9cd62a0          No     11
4  00010020d9cd62a0      Python     20

In [165]:
s3.loc[s3['domain']=='No','count']=s3[s3['domain']=='No']['count']/2

In [166]:
s3.head()

          hacker_id      domain  count
0  00004cf8b853ad0d  Algorithms    5.0
1  00004cf8b853ad0d          No    1.5
2  00010020d9cd62a0  Algorithms    5.0
3  00010020d9cd62a0          No    5.5
4  00010020d9cd62a0      Python   20.0

In [167]:
s3=s3.sort(['hacker_id','count'], ascending=[False,False])

C:\Users\Prashanth.S\AppData\Local\Continuum\Anaconda2\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

In [168]:
s3.head()

              hacker_id      domain  count
26285  fffcfd13f3e0969d  Algorithms   16.0
26286  fffcfd13f3e0969d          No    4.5
26283  ffe228e656e5cbbd  Algorithms    2.0
26284  ffe228e656e5cbbd          No    1.0
26282  ffe0dff4db6deb6e   Tutorials   12.0

In [169]:
s4=s3.groupby('hacker_id').head(1).reset_index(drop=True)

In [170]:
s4.head()

          hacker_id      domain  count
0  fffcfd13f3e0969d  Algorithms   16.0
1  ffe228e656e5cbbd  Algorithms    2.0
2  ffe0dff4db6deb6e   Tutorials   12.0
3  ffd6eaaf3d7138e0  Algorithms    1.0
4  ffcae6424b43fbb2  Algorithms    1.0

In [171]:
s4.shape

(10000, 3)

In [172]:
s2.head()

          hacker_id      domain  count
0  00004cf8b853ad0d  Algorithms      1
1  00004cf8b853ad0d          No      1
2  00004cf8b853ad0d          No      1
3  00fa5c4f8a24fc37  Algorithms      1
4  00fa5c4f8a24fc37          No      1

In [173]:
s3 = pysqldf("select hacker_id,domain,sum(count) as count from s2 group by hacker_id,domain")

In [174]:
s3.head()

          hacker_id      domain  count
0  00004cf8b853ad0d  Algorithms      5
1  00004cf8b853ad0d          No      3
2  00010020d9cd62a0  Algorithms      5
3  00010020d9cd62a0          No     11
4  00010020d9cd62a0      Python     20

In [175]:
chal2 = pysqldf(" select challenge_id,domain,solved_submission_count from chal where contest_id = 'c8ff662c97d345d2' group by challenge_id")

In [176]:
chal2=chal2.sort(['domain','solved_submission_count'], ascending=[True,False])

C:\Users\Prashanth.S\AppData\Local\Continuum\Anaconda2\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

In [177]:
chal3 = chal2.groupby('domain').head(10).reset_index(drop=True)

In [178]:
pd.Series.value_counts(chal3['domain'])

Artificial Intelligence    10
Ruby                       10
Security                   10
Distributed Systems        10
Tutorials                  10
Databases                  10
Algorithms                 10
Data Structures            10
Mathematics                10
C++                        10
Functional Programming     10
Python                     10
SQL                        10
Java                       10
Linux Shell                10
Regex                      10
Name: domain, dtype: int64

In [179]:
chal3.shape

(170, 3)

In [180]:
chal3 = chal3.fillna('No')

In [181]:
chal3

         challenge_id                   domain  solved_submission_count
0    7e860acda8697471               Algorithms                     3769
1    0ea21bb9feaf46c8               Algorithms                     3572
2    55f8a66f057a7e76               Algorithms                     2938
3    c9713aed1d68c5b5               Algorithms                     2675
4    34386eca594b7bc2               Algorithms                     2631
5    feb666a0b4f1d685               Algorithms                     2367
6    b49bb8ec9c2b8481               Algorithms                     1908
7    26c95b75d8237f39               Algorithms                     1781
8    76fba8ff25f765b6               Algorithms                     1525
9    425f241df843cd89               Algorithms                     1247
10   18e0a2dad5e127d6  Artificial Intelligence                      319
11   a9e66e4908fb003d  Artificial Intelligence                      240
12   4258057ce615b031  Artificial Intelligence                      113
13   3ea1501e8ebd647b  Artificial Intelligence                       80
14   19c9320a9c5f841c  Artificial Intelligence                       73
15   566a8b1cff4c7548  Artificial Intelligence                       63
16   7043565902d06976  Artificial Intelligence                       61
17   a1a634218917004f  Artificial Intelligence                       55
18   c74e66ac0fb1e076  Artificial Intelligence                       34
19   690eeeb4d03edc8c  Artificial Intelligence                       27
20   8b70cbd7f8b9a2af                      C++                     1621
21   4234a6f798992f02                      C++                      917
22   11408b97e53ec7ed                      C++                      698
23   07e18856d86b7b31                      C++                      683
24   ebc21a6684955a22                      C++                      604
25   70f890aca1fe19cb                      C++                      564
26   b14017a1a69a0f77                      C++                      558
27   4bdd5803ef48637a                      C++                      420
28   a177f57b92fd38d6                      C++                      374
29   1d7afa1b244e70c9                      C++                      311
..                ...                      ...                      ...
140  8bc7477c0f6b0e13                 Security                      190
141  e5b37867e3d97548                 Security                      165
142  20ba2aa7e96473d0                 Security                       78
143  3fb5689cca9a4010                 Security                       56
144  435f11927d19aa68                 Security                       49
145  69ef77b6b1e736c1                 Security                       47
146  a6d416e8ded4c7a8                 Security                       46
147  32c6fc0efd61b092                 Security                       41
148  e330d6cb9768be80                 Security                       39
149  b8dc867b6dd40209                 Security                       28
150  dcb76def3ced9d7b                Tutorials                     2332
151  fd32207d8c5795ab                Tutorials                     1072
152  4fe2da53074027da                Tutorials                     1028
153  f62ad414720a6b8a                Tutorials                      987
154  baae1c5a760d191f                Tutorials                      784
155  8aadf4d7f7355fb6                Tutorials                      741
156  0f71aee4e0c51f7c                Tutorials                      693
157  06630624f8af0d31                Tutorials                      597
158  fa6ea81f8219bbf0                Tutorials                      534
159  7de92abeb686999e                Tutorials                      501
160  e05e63bcccbafedb                       No                     2009
161  67a1b1d6367e38ea                       No                      526
162  8433a9019b8006cb                       No                      319
163  5ef837b87a38262e                       No                      209
164  236dec13a662098a                       No                      182
165  8b812c96165a1212                       No                      120
166  f563fe8489cc7b6b                       No                       54
167  25a5dcb467dacca3                       No                       48
168  e8c2bbf12c3fb8b6                       No                       37
169  ec6b7862615ece31                       No                       36

[170 rows x 3 columns]

In [182]:
s5 = pd.merge(s4,chal3,on='domain',how='inner')

In [183]:
s5.shape

(100000, 5)

## Final Result

In [184]:
final1.head()

          hacker_id           similar     score
0  fffcfd13f3e0969d  659f2ceb67eca1ef  0.472289
1  fffcfd13f3e0969d  ad1cc7894c991bbd  0.399669
2  fffcfd13f3e0969d  c0af13494532539f  0.393411
3  fffcfd13f3e0969d  5e7c4c10a3ceab24  0.328000
4  fffcfd13f3e0969d  08245c18359694b1  0.292229

In [185]:
s5.head()

,hacker_id,domain,count,challenge_id,solved_submission_count
0,fffcfd13f3e0969d,Algorithms,16.0,7e860acda8697471,3769
1,fffcfd13f3e0969d,Algorithms,16.0,0ea21bb9feaf46c8,3572
2,fffcfd13f3e0969d,Algorithms,16.0,55f8a66f057a7e76,2938
3,fffcfd13f3e0969d,Algorithms,16.0,c9713aed1d68c5b5,2675
4,fffcfd13f3e0969d,Algorithms,16.0,34386eca594b7bc2,2631

In [186]:
s5['score'] = 0

In [187]:
s5 = s5[['hacker_id','challenge_id','score']]

In [188]:
s5.head()

          hacker_id      challenge_id  score
0  fffcfd13f3e0969d  7e860acda8697471      0
1  fffcfd13f3e0969d  0ea21bb9feaf46c8      0
2  fffcfd13f3e0969d  55f8a66f057a7e76      0
3  fffcfd13f3e0969d  c9713aed1d68c5b5      0
4  fffcfd13f3e0969d  34386eca594b7bc2      0

In [189]:
final1=final1.rename(columns={"similar":"challenge_id"})

In [190]:
final_recom = pd.concat((s5,final1), ignore_index=True)

In [191]:
final_recom.shape

(196761, 3)

In [192]:
tt = pysqldf("Select * from final_recom group by hacker_id,challenge_id")

In [193]:
tt.shape
final_recom = tt

In [194]:
tt.shape

(167898, 3)

In [195]:
#final_recom = pysqldf("select hacker_id,challenge_id,max(score) as score from final_recom group by hacker_id,challenge_id ")

In [196]:
final_recom = final_recom.sort(['hacker_id','score'], ascending=[False,False])

C:\Users\Prashanth.S\AppData\Local\Continuum\Anaconda2\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

In [197]:
final_recom.head()

               hacker_id      challenge_id     score
167887  fffcfd13f3e0969d  659f2ceb67eca1ef  0.472289
167891  fffcfd13f3e0969d  ad1cc7894c991bbd  0.399669
167893  fffcfd13f3e0969d  c0af13494532539f  0.393411
167886  fffcfd13f3e0969d  5e7c4c10a3ceab24  0.328000
167879  fffcfd13f3e0969d  08245c18359694b1  0.292229

In [198]:
final_recom1=final_recom.groupby('hacker_id').head(10).reset_index(drop=True)

In [199]:
final_recom1.head()

          hacker_id      challenge_id     score
0  fffcfd13f3e0969d  659f2ceb67eca1ef  0.472289
1  fffcfd13f3e0969d  ad1cc7894c991bbd  0.399669
2  fffcfd13f3e0969d  c0af13494532539f  0.393411
3  fffcfd13f3e0969d  5e7c4c10a3ceab24  0.328000
4  fffcfd13f3e0969d  08245c18359694b1  0.292229

In [200]:
final_recom1['sequence'] = final_recom1.groupby('hacker_id').cumcount()

In [201]:
final_recom1.head()

          hacker_id      challenge_id     score  sequence
0  fffcfd13f3e0969d  659f2ceb67eca1ef  0.472289         0
1  fffcfd13f3e0969d  ad1cc7894c991bbd  0.399669         1
2  fffcfd13f3e0969d  c0af13494532539f  0.393411         2
3  fffcfd13f3e0969d  5e7c4c10a3ceab24  0.328000         3
4  fffcfd13f3e0969d  08245c18359694b1  0.292229         4

In [202]:
final_recom1.shape

(100000, 4)

In [203]:
final_recom2 = final_recom1[['hacker_id','challenge_id','sequence']]

In [204]:
final_recom3 = final_recom2.pivot(index='hacker_id',columns='sequence',values='challenge_id')

In [205]:
final_recom3.head()

sequence,0,1,2,3,4,5,6,7,8,9
hacker_id,,,,,,,,,,
00004cf8b853ad0d,4e1bd7090485fcd9,cf7aec14125de538,3411e4e6add2b8e4,366684b779574e86,0b33fa0e17628ec9,c3647a9292e553b9,92cce56cc5c0089a,daca00e89ba40904,f144c87d3373f146,57e42b888551c3de
00010020d9cd62a0,4e1bd7090485fcd9,4555b35815f98db1,cf7aec14125de538,5ab3318dace74797,675f4fb2c8518346,9580a525da7618e9,aab8b2196708baf0,3411e4e6add2b8e4,5d3e461f19869d08,5e85f62bcbb42ea2
000c08c3a6f1ee15,34386eca594b7bc2,b49bb8ec9c2b8481,4e07173c3bba48d2,659f2ceb67eca1ef,26c95b75d8237f39,5e85f62bcbb42ea2,6ed2a6b18d1ac4e4,9580a525da7618e9,ad1cc7894c991bbd,c0af13494532539f
000d0dde89911c9f,4e07173c3bba48d2,26c95b75d8237f39,76fba8ff25f765b6,9580a525da7618e9,659f2ceb67eca1ef,feb666a0b4f1d685,ad1cc7894c991bbd,c0af13494532539f,08245c18359694b1,34386eca594b7bc2
000d3364ba25d742,650622546905d47d,276b73dcc8c42154,8285124a300bdedf,50253c16f58cb013,2a19000bc75c0782,e1ca1935242d2941,69072dc0ff492888,2963acac637dbbd5,d8cb09b1f7696f01,46592c29655cfc5e

In [206]:
final_recom3.to_csv('final_result_dummy_last.csv',header=False)